.panel {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.main-panel {
    align-items: center;
    background-color: #0c0c0c;
    box-shadow: 0 0 10px #00000080;
    display: flex;
    height: 800px;
    justify-content: space-around;
    padding: 0 5px;
    width: 1440px;
}

@media screen and (max-width:1060px) {
    .panel {
        height: calc(100vh - 36px);
    }
}