.game-panel {
    background: #2d2d2d;
    border: 2px solid #0000;
    position: relative;
    width: 1000px;
    height: 780px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.game-panel::-webkit-scrollbar {
    display: none;
}

.street-start {
    background: url(../../../assets/street/start-street.webp) bottom right no-repeat;
    padding: 94px;
    margin-bottom: -7px;
}

.street-end {
    background: url(../../../assets/street/end-street.webp) bottom left;
    padding: 120px;
    margin-bottom: -7px;
    margin-left: -15px;
}

.main-street {
    display: flex;
    margin-left: -10px;
}

.game-panel.dragging {
    user-select: none;
    -webkit-user-select: none;
}

.chicken {
    position: absolute;
}

.chicken-property {
    position: relative;
}

.chicken-body {
    position: absolute;
    width: 121px;
    z-index: 50;
    top: 425px;
    left: 29px;
    animation: chicken-bob 0.7s ease-in-out infinite alternate;
}

.chicken-foot-front {
    position: absolute;
    width: 35px;
    z-index: 100;
    top: 528px;
    left: 58px;
}

.chicken-foot-back {
    position: absolute;
    width: 35px;
    z-index: 10;
    top: 525px;
    left: 75px;
}

@keyframes chicken-bob {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1.5px);
    }
}