.loads {
    display: flex;
}

.coin {
    position: relative;
    padding: 22px;
    margin-top: 417px;
}

.coin img {
    width: 115px;
    height: auto;
}

.line img {
    width: 6px;
    opacity: 0.7;
}

.coin p {
    position: absolute;
    color: white;
    top: 69px;
    left: 63px;
}