.balance {
    align-items: center;
    background: #161616;
    border: 1px solid #0000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    height: 70px;
    padding: 4px;
    width: 100%;
}

.balance p {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    font-weight: 600;
    margin: 20px 0px 20px 15px;
}