.header {
    width: 36px;
    height: 100vh;
    background-color: #19232c;
    border-right: 1px solid #27343f;
    display: flex;
    flex-direction: column;
    transition: all 0.1s ease;
}

.header-logo {
    overflow: hidden;
    width: 14px;
    position: static;
    margin: 8px;
}

.header-logo img {
    height: 20px;
    width: auto;
}

.hamberger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 27px);
}

.hamberger span {
    font-size: medium;
    color: #fff;
}

.under1060 {
    display: none;
}

@media screen and (max-width: 1060px) {
    .over1060 {
        display: none;
    }

    .under1060 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header {
        flex-direction: row;
        height: 36px;
        width: 100vw;
    }

    .hamberger {
        height: 36px;
        width: 100%;
    }

    .header-logo {
        margin-left: 16px;
    }
}